.containerFormConsultoria{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerFormConsultoriaIPCinza{
    background: #E6ECF0;
    color: #1F1F1F;
}
.containerFormConsultoriaIPVerde{
    background: #2EB280;
    color: #fff;
}

.titleFormConsultoria{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    width: 851px;
    margin-bottom: 98px;
    margin-top: 123px;
}
.mailFormConsultoria{
    color:#1D856C;
}
.buttonFormConsultoria{
    border-radius: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    text-align: center;
    font-size: 15px;
    padding: 21px;
    margin-bottom: 108px;
}
.buttonFormConsultoria:hover{
    color:#060404;
    opacity: 0.8;
}

.buttonFormConsultoriaIPCinza{
    background-color: #1D856C;
    color:#fff;
}
.buttonFormConsultoriaIPVerde{
    background-color: #E6ECF0;
    color:#1F1F1F;
}
@media screen and (max-width: 1023px) {
    .containerFormConsultoria{
        height: fit-content;
        width: 100%;
    }
    
    .titleFormConsultoria{
        width: 80%;
        font-size: 24px;
    }
}