@import url("https://fonts.googleapis.com/css2?family=Inter:wght@40;500&display=swap");
.themeColorIP{
  background-color: #145C56;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.themeColorIP a{
  text-decoration: none;
}

.themeColorAGP{
  background-color: #6A2914;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.themeColorAGP a{
  text-decoration: none;
}

.themeColorSM{
  background-color: #1B2D82;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.themeColorSM a{
  text-decoration: none;
}

.themeWhite{
  background-color: #FFFFFF;
  color: #606E78;
  text-decoration: none;
}
.themeWhiteSM{
  background-color: #FFFFFF;
  color: #606E78;
  text-decoration: none;
}

.themeWhite a{
  text-decoration: none;
}

.container_navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    top: 0;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    position: fixed;
    z-index: 100;
    width: 100%;
  }
  
  .container_navbar a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
  }
  .themeColorIP a:hover{
    color: #FFFFFF;
  }

  .themeColorAGP a:hover{
    color: #FFFFFF;
  }

  .themeColorSM a:hover{
    color: #FFFFFF;
  }
  .themeWhite a:hover{
    color: #1F1F1F;
  }
  .themeWhiteSM a:hover{
    color: #1F1F1F;
  }
  .logoWrapper_navbar {
    height: 30px;
    width: 200px;
  }
  
  .logo_navbar {
    height: 24px;
    width: 140px;
  }
  .dropdownContentNavBar{
    display: none;
    position: absolute;
  } 
  .iconDropdownNavBar{
    position: relative;
    height: 10px;
  }
  .iconDropdownContainerNavBar{
    width: 0; 
    height: 0; 
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #2EB380;
  }
  .dropdownNavBar:hover .dropdownContentNavBar{
    display: block;
  }
  .dropdownItemNavBar{
    color: #fff;
    font-size: inherit;
    padding: 10px 15px 10px 15px;
  }
  .dropdownItemNavBar a{
    color: #fff;
  }

  .dropdownItemNavBar:hover {
    background-color: #145C56;
  }
  .dropdownItemNavBar a:hover {
    color: #fff;
  }

  .itensDropdownNavBar{
    background-color: #2EB380;
    padding-bottom: 15px;
    padding-top: 18px;
  }
  .links_navbar {
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .linksNavBarMoblie{
    display: none;
  }

  .link_navbar {
    padding-right: 24px;
    white-space: nowrap;
    position: relative;
  }

  .link_navbar .NavBarSubMenu {
    position: absolute;
    padding: 10px;
    width: 80px;
    height: fit-content;
    top: 38px;
    left: 25%;
    visibility: hidden;
    background-color: #a07061;
    color: #FFFFFF;
    transition: all 0.25s
  }

  .NavBarSubMenu:after{ /*Triangulo*/
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    /*Faz seta "apontar para baixo. Definir o valor como 'top' fará ela "apontar para cima" */
    /*Aqui entra a cor da "aba" do balão */
    border-bottom: 10px solid #a07061;
    top: -10px; /*localização. Experimente alterar para 'bottom'*/
    left: 20%;
}

  .link_navbar:hover .NavBarSubMenu {
    visibility: visible;
  }

  .NavBarSubMenuContainer .NavBarSecondSubMenu{
    position: absolute;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    top: 38px;
    left: calc(25% + 110px);
    padding-left: 15px;
    background-color: #a07061;
    color: #FFFFFF;
    visibility: hidden;
  }

  .NavBarSecondSubMenu:after{
     content: "";
     width: 0; 
     height: 0;
     position: absolute;
     /* Right com valor negativo para ele ficar para fora do balão de dialogo */
     left: -10px;
     bottom: -5px;
     /* É aqui o truque com as bordas */
     /* usar metade da altura do elemento, assim temos uma seta da mesma altura que nosso elemento */
     border-top: 25px solid transparent;
     border-bottom: 25px solid transparent;
     border-right: 25px solid #a07061; /* Defina 'right' e a seta apontará para a esquerda */
     /* Borda de fora do elemento */
     border-radius: 50%;
  }

  .NavBarSubMenuContainer:hover .NavBarSecondSubMenu{
    visibility: visible;
  }
  
  .NavBarSubMapContainer {
    position: absolute;
    top: 120%;
    visibility: hidden;
    transition: .3s;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    white-space: normal;
  }
  
  .link_navbar:hover .NavBarSubMapContainer {
    visibility: visible;
  
  }

  .NavBarSubMenuContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 15px;
    width: 100%;
    white-space: normal;
    line-height: 150%;
    letter-spacing: -0.01em;
  }
  
  .NavBarSubMenuContainerColorSM {
    background-color: #5367C9;
  }

  .NavBarSubMenuContainerColorSM:hover {
    background-color: #7579EA;
  }

  .NavBarSubMenuContainerColorIP {
    background-color: #2EB380;
  }

  .NavBarSubMenuContainerColorIP:hover {
    background-color: #55D499;
  }

  .NavBarSubMenuContainerWhite, .NavBarSubMenuContainerWhiteSM {
    background: #FFFFFF;
  }

  .NavBarSubMenuContainerWhite:hover, .NavBarSubMenuContainerWhiteSM:hover {
    color: #1F1F1F;
    background-color: #EFF5F9;
  }

  .NavBarSubMenuContainerWhite .NavBarSubMenuAnchor,
  .NavBarSubMenuContainerWhiteSM .NavBarSubMenuAnchor {
    color: #606E78;
  }

  .NavBarSubMenuContainerWhite .NavBarSubMenuAnchor:hover,
  .NavBarSubMenuContainerWhiteSM .NavBarSubMenuAnchor:hover {
    color: #1F1F1F;
  }
  
  .NavBarSubMenuAnchor {
    color: white;
    font-size: 14px;
    text-decoration: none;
  }
  
  .NavBarSubMenuAnchor:hover {
    color: white;
  }
  .NavBarSubMenuAnchor:hover  .NavBarSubMenuItem{
    visibility: visible;
    display: block !important;
  }

  .NavBarSubMenuContainer:hover + .NavBarSubMenuItemContainer{
    visibility: visible;
  }

  .NavBarSubMenuItemContainer{
    position: absolute;
    height: fit-content;
    left: 300px;
    color: #FFFFFF;
    visibility: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    white-space: normal;
  }

  .NavBarSubMenuItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 15px;
    width: 100%;
    white-space: normal;
    line-height: 150%;
    letter-spacing: -0.01em;
  }

  .NavBarSubMenuItemColorSM {
    background-color: #5367C9;
  }

  .NavBarSubMenuItemColorSM:hover{
    background-color: #7579EA;
  }

  .NavBarSubMenuItemColorIP {
    background-color: #2EB380;
  }

  .NavBarSubMenuItemColorIP:hover {
    background-color: #55D499;
  }

  .NavBarSubMenuItemWhite, .NavBarSubMenuItemWhiteSM {
    background-color: #FFFFFF;
  }

  .NavBarSubMenuItemWhite:hover,
  .NavBarSubMenuItemWhiteSM:hover {
    background-color: #EFF5F9;
  }

  .NavBarSubMenuItemWhite .NavBarSubMenuItemAnchor,
  .NavBarSubMenuItemWhiteSM .NavBarSubMenuItemAnchor {
    color: #606E78;
  }

  .NavBarSubMenuItemWhite .NavBarSubMenuItemAnchor:hover,
  .NavBarSubMenuItemWhiteSM .NavBarSubMenuItemAnchor:hover {
    color: #1F1F1F;
  }

  .NavBarSubMenuItemContainer:hover{
    visibility: visible;
  }
  .NavBarSubMenuItemContainer a{
    text-decoration: none;
    color: #FFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }

  .NavBarSubMapMobileContainer {
    position: absolute;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
    right: 100%;
    padding: 1px;
    padding-right: 0;
    top: 4px;
    background-color: #7579EA;
    width: 194px;
  }
  
  .linksNavBarMoblie .NavBarSubMenuMobileAnchor {
    font-size: 12px;
    margin: 0;
    display: flex;
  }
  
  .linksNavBarMoblie .NavBarSubMenuMobileAnchor p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 25ch;
    margin: 0;
  
  }
  

  .containerCidadeLogin_navbar {
    align-items: center;
    display: flex;
    height: 100%;
    margin-left: auto;
    justify-content: center;
  }
  
  .ButtonLoginBox_navbar {
    height: 30px;
    margin-right: 15px;
    margin-left: 10px;
  }

  .citySelect_navbarColorIP{
    background-color: #145C56;
    color: #FFFFFF;
    border: none;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
  }
  .citySelect_navbarWhite, .citySelect_navbarWhiteSM{
    background-color: #FFF;
    color: #1F1F1F;
    border: none;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
  }

  .citySelect_navbarColorSM {
    background-color: #5367C9;
    color: #FFFFFF;
    border: none;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
  }
  .NavBarSeletorMunicipiosContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .NavBarSeletorMunicipios{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    border-radius: 80px;
    border: solid 1px #fff;
    color: #fff;
    padding: 6px;
    width:250px;
  }
  .NavBarSeletorMunicipiosWhite, .NavBarSeletorMunicipiosWhiteSM{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    border-radius: 80px;
    border: solid 1px #1F1F1F;
    color: #1F1F1F;
    padding: 6px;
    width:250px;
  }
  .NavBarSeletorMunicipiosLista{
    top: 52px;
    position: absolute;
    background-color: #5367C9;
    height: fit-content;
  }
  .NavBarSeletorMunicipiosItem{
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    color: #FFF;
    padding: 10px;
    animation: growDown 200ms ease-in-out forwards;
  }
  .NavBarSeletorMunicipiosItemGrowUp{
    animation: growUp 200ms ease-in-out forwards;
  }
  @keyframes growDown {
    from {
      height: 0px;
    }
    to {
      height: fit-content;
    }
  }
  @keyframes growUp {
    from {height: fit-content;}
    to {height: 0px;}
  }

  
  .NavBarSeletorMunicipiosItem:hover{
    background-color: #1B2D82;
    opacity: 0.3;
    cursor: pointer;
  }


  .citySelect_navbar select {
    display: none; /*hide original SELECT element:*/
  }

  .buttonMoblieColorIP {
    display: none;
  }
  .buttonMoblieColorSM {
    display: none;
  }
  .buttonMoblieColorAGP {
    display: none;
  }
  .buttonMoblieWhite{
    display: none;
  }
  .buttonMoblieWhiteSM{
    display: none;
  }
  
  .NavBarSearchConteinerMoblie{
    display: none;
  }
  .NavBarLogOut{
    border-radius: 100px;
    font-size: 15px;
  }
  .NavBarLogged{
    border-radius: 100%;
    width: 56px;
    height: 56px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 21px;
  }

  .NavBarLogin{
    padding: 10px 10px;
    margin-right: 30px;
    margin-left: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    cursor: pointer;
  }
  .NavBarLoginWhite, .NavBarLoginWhiteSM{
    border: 1px solid rgba(96, 110, 120, 0.25);
    color: #1F1F1F;
  }
  .NavBarLoginColorIP{
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: #FFFF;
  }

  .NavBarLoginColorSM{
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: #FFFF;
  }

  .NavBarLoginColorAGP{
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: #FFFF;
  }



  .NavBarModalContainer{
    display: flex;
    justify-content: right;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 200;
  }
  @media screen and (max-width: 1000px) {
    .container_navbar {
      padding: 16px 24px 16px 24px;
      align-items: center;
      width: 100%;
    }
    .container_navbar a {
      color: #1F1F1F;
    }
    .logoWrapper_navbar {
      height: 25px;
      width: 50px;
      margin-right: auto;
    }
    .navBarIcon{
      background-color: #FFFFFF;
    }
    .buttonMoblieColorIP{
      display: block;
      margin-left: auto;
      border: 1px solid #FFF;
      border-radius: 50%;
      padding: 8px;
    }

    .buttonMoblieColorAGP{
      display: block;
      margin-left: auto;
      border: 1px solid #FFF;
      border-radius: 50%;
      padding: 8px;
    }

    .buttonMoblieColorSM{
      display: block;
      margin-left: auto;
      border: 1px solid #FFF;
      border-radius: 50%;
      padding: 8px;
    }
    .buttonMoblieWhite{
      display: block;
      margin-left: auto;
      border: 1px solid #1F1F1F;
      border-radius: 50%;
      padding: 8px;
    }
    .buttonMoblieWhiteSM{
      display: block;
      margin-left: auto;
      border: 1px solid #1F1F1F;
      border-radius: 50%;
      padding: 8px;
    }

    .buttonMoblieWhite:hover, .buttonMoblieWhiteSM:hover{
      cursor: pointer;
    }
    .buttonMoblieColorIP:hover{
      cursor: pointer;
    }

    .linksNavBarMoblie{
      background-color: #fff;
      width: 100%;
      padding-top: 25px;
      padding-bottom: 25px;
      text-align: left;
      display: none;
    }

    .linksNavBarMoblieColorSM a:hover{
      color: #5367C9 !important;
    }

    .linksNavBarMoblieColorSM a{
      color: #fff;
    }

    .linksNavBarMoblieColorAGP{
      background-color: #F4CCAB;
    }

    .linksNavBarMoblieColorAGP a{
      
      color: #fff;
    }
    
    .linksNavBarMoblieVisible{
      display: block;
      position: fixed;
      z-index: 100;
      top: 75px;
      overflow: scroll;
      height: 100vh;
    }
    .linksNavBarMoblie a{
      color: #fff;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      margin-right: 18px;
      text-decoration: none;
      }
    .links_navbar{
      display: none;
    }
    .link_navbar {
      text-align: right;
      margin-bottom: 10px;
      padding: 0;
    }
    .linkNavBarMoblie {
      margin-bottom: 10px;
    }

    .subMenuMoblie{
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      padding-top: 10px;
    }
    .containerCidadeLogin_navbar {
      display: none;
    }
    .NavBarSeletorMunicipios{
      width: 200px;
      font-size: 12px;
    }
    .NavBarSeletorMunicipiosWhite, .NavBarSeletorMunicipiosWhiteSM{
      width: 200px;
      font-size: 12px;
    }

    .NavBarSeletorMunicipiosLista{
      top: 55px;
    }
    .NavBarSeletorMunicipiosItem{
      font-size: 12px;
    }
    .ButtonLoginBox_navbar {
      height: 30px;
      margin-right: 0px;
      margin-top: 10px;
      position: relative;
      left: 0;
    }
    .NavBarSearchConteinerMoblie{
      display: block;
    }
  }

  @media screen and (min-width: 1366px) {
    .logoWrapper_navbar{
      margin-right: 45px;
    }
  }
