.CardInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: 100%;
    padding: 20px 55px;
}

.CardInfoIndicador {
    color: #1F1F1F;
    font-family: Inter;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}

.CardInfoIndicadorDescricao {
    color: #9ba4a5;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.CardInfoStatus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.CardInfoStatusDescricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.CardInfoDescricao {
    color: #9ba4a5;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
}

.AntesDepois {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #1F1F1F;
    margin: 0;
}

.CardInternacaoStatus {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.ContainerCards {
    display: grid;
    grid-template-columns: repeat(5, auto);
    height:fit-content;
    margin: 20px;
    margin-bottom: 20px;
}

.PrimeiraColuna {
    grid-column: 1/2;
    border-left: 1px solid #9494946b;
    border-top: 1px solid #9494946b;
}

.SegundaColuna {
    grid-column: 2/3;
    border-left: 1px solid #9494946b;
    border-top: 1px solid #9494946b;
}

.TerceiraColuna {
    grid-column: 3/4;
    border-left: 1px solid #9494946b;
    border-top: 1px solid #9494946b;
}

.QuartaColuna {
    grid-column: 4/5;
    border-left: 1px solid #9494946b;
    border-top: 1px solid #9494946b;
}

.QuintaColuna {
    grid-column: 5/6;
    border-left: 1px solid #9494946b;
    border-right: 1px solid #9494946b;
    border-top: 1px solid #9494946b;
}

.BordaInferior {
    border-bottom: 1px solid #9494946b;
}

/* border-radius starts at top-left, top-right, bottom-right, bottom left */
.BordaRedondaInferiorDireita {
    border-radius: 0px 0px 8px 0px;
}

.BordaRedondaInferiorEsquerda {
    border-radius: 0px 0px 0px 8px;
}

.BordaRedondaSuperiorDireita {
    border-radius: 0px 8px 0px 0px;
}

.BordaRedondaSuperiorEsquerda {
    border-radius: 8px 0px 0px 0px;
}

.CardPeriodos {
    font-family: 'Inter';
    letter-spacing: 0em;
    padding: 45px 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.CardPeriodosTitulo {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    margin: 0;
}

.CardPeriodosDescricao {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #9ba4a5;
    margin: 0;
}
