.containerOrdenar{
    padding: 5px 40px;
    display: flex;
    flex-direction: column;
    gap:15px;
}
.limparOrdenacao{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2EB380;
    border-bottom: #2EB380 solid 1.5px;
    width: fit-content;
}
.OrdenarPor{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #1F1F1F;
}
.limparOrdenacao:hover{
    cursor: pointer;
}
.LimparFiltros{
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    letter-spacing: -0.16px;
    color: #2EB280;
    text-decoration: underline;
    width: fit-content;
}
.LimparFiltros:hover{
    cursor: pointer;
}

.ToolBar{
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: center;
}
.SearchBar{
    background: #EFF5F9;
    border-radius: 100px;
    border: none;
    padding: 1px 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    width: 52%;
}
.SearchBar:focus { 
    outline: none !important;
    border-color: none;
 }

.ModalContainer{
    display: flex;
    justify-content: right;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 200;
}
.ModalBlur{
    width: 100vw;
    height: 100vh;
    z-index: 200;
    background-color: #1f1f1f95;
    position: fixed;
    top:0;
}
.cardFiltro{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    background: #EFF5F9;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}
.cardFiltroSelected{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    background: #EFF5F9;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    border: 1.5px solid #2EB380;
}
.cardFiltro:hover{
    border: 1.5px solid #2EB380;
    cursor: pointer;
}
.InputFiltroCard{
    accent-color: #2EB280;
    color: white;
}
.InputFiltroCard:checked::before{
    color: white !important;
}
.ConteinerFiltro{
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    flex-direction: column;
    width: 100%;
}
.ConteinerFiltros{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tituloFiltro{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
}
.ShowFiltros{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 20px;
    height: 20px;
    color : #2EB280;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: solid 2px #2EB280;
    background-color: white;
    margin-left: auto;
}

.ShowFiltros:hover{
    cursor: pointer;
}

.MarcarTodas{
    font-family: 'Inter';
    font-style: normal;
    color : #2EB280;
    font-size: 12px;
}

.MarcarTodas:hover{
    cursor: pointer;
}
.FiltroCard{
    display: flex;
    flex-direction: row;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    gap: 10px;
    background: #EFF5F9;
    border-radius: 10px;
    width: fit-content;
    padding: 0 6px;
    margin-left: 15px;
}

.Filtro{
    display: flex;
    flex-direction: column;
    padding: 2% 15%;
    gap: 10px;
}
.AplicarFiltros{
    position: fixed;
    width : 100%;
    padding: 15px;
    bottom: 0;
    background-color: #FFF;
}
.AplicarfiltrosCase{
    width : 100%;
    height: 90px;
    padding: 15px;
    background-color: #FFF;
}
.AtualizacaoConteiner{
    display : flex;
    justify-content : right;
    padding-right : 75px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.Atualizacao{
    background-color:#EFF5F9;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    width: fit-content;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
@media screen and (max-width : 1023px) {
    .ToolBar{
        flex-direction: column;
        align-items: center;
    }
    .SearchBar{
        width: 80%;
        height: 60px;
        text-align: center;
    }
    .AtualizacaoConteiner{
        justify-content : center;
        padding-right : 0px;
    }
    .Atualizacao{
        width: 80%;
    }
}

@media screen and (max-width : 1365px) {
    .SearchBar{
        width: 40%;
    }
}
@media screen and (max-width : 1919px) {
    .AtualizacaoConteiner{
        padding-right : 100px;
    }

}
@media screen and (min-width : 1920px) {
    .AtualizacaoConteiner{
        padding-right : 200px;
    }

}