.ModalContainer{
    display: flex;
    justify-content: right;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 200;
}

.ModalBlur{
    width: 100vw;
    height: 100vh;
    z-index: 200;
    background-color: #1f1f1f95;
    position: fixed;
    top:0;
}

.tituloFiltro{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
}

.AtualizacaoConteiner{
    display : flex;
    justify-content : right;
    padding-right : 75px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.Atualizacao{
    background-color:#EFF5F9;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    width: fit-content;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

@media screen and (max-width : 1023px) {
    .AtualizacaoConteiner{
        justify-content : center;
        padding-right : 0px;
    }
    .Atualizacao{
        width: 80%;
    }
}

@media screen and (max-width : 1919px) {
    .AtualizacaoConteiner{
        padding-right : 100px;
    }

    .SearchBar {
        width: 90%;
    }
}

@media screen and (min-width : 1920px) {
    .AtualizacaoConteiner{
        padding-right : 200px;
    }

    .SearchBar {
        width: 90%;
    }
}