.container_parceiros {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 80px;
  width: 100%;
  padding: 64px;
}

.container_parceiros_descritivo {
  flex-direction: column;
}

.themeColorIP {
  background: #0b404a;
  color: #ffff;
}

.themeColorAGP {
  background-color: #ffff;
  color: #1F1F1F;
}

.parceirosLabel {
  margin-left: 45px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.02em;
  width: 30%;
}

.parceirosLabelDescritivo {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.02em;
}

.tituloParceiro {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #606E78;
}

.tituloParceiroDescritivo {
  font-size: 24px;
  text-align: left;
}

.descricaoParceiro {
  color: #1F1F1F;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
}

.gridContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
}

.gridContainerDescritivo {
  justify-content: center;
  gap: 0;
  justify-content: space-between;
}

.info_parceiro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.info_parceiro_descritivo {
  width: 25%;
  align-items: flex-start;
}

.imageContainer {
  margin-bottom: 30px;
  margin-top: 0;
  max-width: 110px;
}

.imageContainerDescritivo {
  height: 50px;
  max-width: 180px;
}

@media screen and (min-width: 741px) and (max-width: 1024px) {
  .container_parceiros {
    gap: 60px;
  }

  .parceirosLabel {
    width: 40%;
  }

  .gridContainer {
    gap: 80px;
  }
}

@media screen and (max-width: 740px) {
  .parceirosLabel {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }

  .info_parceiro {
    width: 100%;
  }

  .gridContainer {
    display: block;
  }

  .container_parceiros {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
}
