.containerTexto{
    background-color: #FFF;
    padding: 30px 80px 30px 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}
.tituloTexto{
    width: 70%;
    font-size: 64px;  
    padding-bottom: 30px;
}

.tituloSmall{
    width: 70%;
    font-size: 32px;  
    padding-bottom: 30px;
}

.corpoTexto{
    text-align: justify;
    font-size: 24px;  
}
.corpoTexto a{
    color: #2EB280;
    text-decoration: underline;
}


/* XSMALL */
@media screen and (max-width: 374px) {
    .containerTexto{
        padding: 30px 16px 30px 16px;
    }
}
/* SMALL */
@media screen and (min-width: 375px)and (max-width: 768px) {
    .containerTexto{
        padding: 30px 40px 30px 40px;
    }
}
/* SMALL */
@media screen and (max-width: 1023px) {
    .containerTexto{
    }
    .tituloTexto{
        font-size: 32px;  
    }
    .tituloSmall{
        font-size: 18px;  
    }
    .corpoTexto{
        font-size: 14px;  
    }
    .corpoTexto img{
        width: 280px;
        height: auto;
    }
    .corpoTexto iframe{
        width: 280px;
        height: auto;
    }

}
/* MEDIUM */
@media screen and (min-width: 1024px)and (max-width: 1400px) {
    .tituloTexto{
        font-size: 48px;  
    }
    .corpoTexto{
        font-size: 16px;  
    }
    .corpoTexto img{
        width: 900px;
        height: auto;
    }
    .corpoTexto iframe{
        width: 900px;
        height: auto;
    }

}
/* XLARGE */
@media screen and (min-width: 1920px) {
    .containerTexto{
        padding: 30px 80px 30px 125px;
    }
    .tituloTexto{
        font-size: 80px;  
        width: 60%;
        text-align: left;
    }
    .corpoTexto{
        font-size: 32px;  
    }
    .tituloSmall{
        font-size: 48px;
    }
}
