@import url("https://fonts.googleapis.com/css2?family=Inter:wght@40;500&display=swap");

.GraficoInfo {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    letter-spacing: -2%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
    padding: 30px 80px;
}

.TituloContainer {
    display: flex;
    gap: 8px;
}

.Titulo {
    margin: 0;
    font-size: 24px;
    line-height: 130%;
}

.Tooltip {
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0;
    line-height: 150%;
}

.InfoSimbolo {
    color: #9ba4a5;
    font-size: 16px;
    line-height: 150%;
    font-weight: bolder;
}

.InfoSimbolo:hover {
    cursor: default;
}

.InfoContainer {
    color: #9ba4a5;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.InfoContainer p {
    margin: 0;
}

.Descricao {
    font-size: 16px;
    line-height: 150%;
}

.Fonte {
    font-size: 14px;
    line-height: 150%;
}

.Link {
    color: #4294D8;
    font-size: 14px;
    line-height:  150%;
    justify-self: flex-end;
    height: fit-content;
}

/* XLARGE */
@media screen and (min-width: 1920px) {
    .GraficoInfo {
        padding: 30px 125px;
    }

    .Titulo {
        font-size: 32px;
    }

    .Descricao {
        font-size: 24px;
    }

    .InfoSimbolo, .Fonte, .Link {
        font-size: 16px;
    }
}

/* MEDIUM */
@media(max-width: 780px) {
    .GraficoInfo {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 30px 40px;
    }

    .Titulo {
        font-size: 16px;
    }

    .Descricao, .InfoSimbolo {
        font-size: 14px;
    }

    .Fonte, .Link {
        font-size: 12px;
    }
}

/* SMALL */
@media(max-width: 360px) {
    .GraficoInfo {
        padding: 30px 16px;
    }
}
