.ToolBar{
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-left: 85px;
  margin-right: 7%;
}

.CardInfoTooltip {
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  background-color: #FFF0E1;
}

.SearchBar{
  background: #EFF5F9;
  border-radius: 100px;
  border: none;
  padding: 1px 25px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  width: 40%;
}

.SearchBar:focus { 
  outline: none !important;
  border-color: none;
}

@media screen and (max-width : 1023px) {
  .ToolBar{
    flex-direction: column;
    align-items: center;
  }

  .SearchBar{
    width: 80%;
    height: 60px;
    text-align: center;
  }
}

@media screen and (max-width : 1365px) {
  .SearchBar{
    width: 40%;
  }
}

@media screen and (max-width : 1919px) {
  .SearchBar {
    width: 90%;
  }
}

@media screen and (min-width : 1920px) {
  .SearchBar {
    width: 90%;
  }
}
