.GraficoGrid {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 45px 200px;
}

.GraficoGridCards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: max-content;
    gap: 24px;
}

.Proporcao6-6:nth-child(odd) {
    grid-column: 1/7;
}

.Proporcao6-6:nth-child(even) {
    grid-column: 7/13;
}

.Proporcao5-7:nth-child(odd) {
    grid-column: 1/6;
}

.Proporcao5-7:nth-child(even) {
    grid-column: 6/13;
}

.Proporcao4-8:nth-child(odd) {
    grid-column: 1/5;
}

.Proporcao4-8:nth-child(even) {
    grid-column: 5/13;
}

.Proporcao3-9:nth-child(odd) {
    grid-column: 1/4;
}

.Proporcao3-9:nth-child(even) {
    grid-column: 4/13;
}

/* Seleciona os cards número 1, 4, 7... */
.Proporcao4-4-4:nth-child(3n+1) {
    grid-column: 1/5;
}

/* Seleciona os cards número 2, 5, 8... */
.Proporcao4-4-4:nth-child(3n+2) {
    grid-column: 5/9;
}

/* Seleciona os cards número 3, 6, 9... */
.Proporcao4-4-4:nth-child(3n+3) {
    grid-column: 9/13;
}

/* Seleciona os cards número 1, 4, 7... */
.Proporcao2-5-5:nth-child(3n+1) {
    grid-column: 1/3;
}

/* Seleciona os cards número 2, 5, 8... */
.Proporcao2-5-5:nth-child(3n+2) {
    grid-column: 3/8;
}

/* Seleciona os cards número 3, 6, 9... */
.Proporcao2-5-5:nth-child(3n+3) {
    grid-column: 8/13;
}

/* REGULAR */
@media screen and (max-width: 1366px) {
    .GraficoGrid {
        margin: 45px 80px;
    }
}

/* MEDIUM */
@media screen and (max-width: 1024px) {
    /* .GraficoGrid {
        margin: 45px 80px;
    } */

    .Proporcao6-6:nth-child(odd),
    .Proporcao6-6:nth-child(even) {
        grid-column: 1/13;
    }

    .Proporcao2-5-5:nth-child(3n+1) {
        grid-column: 1/5;
    }

    .Proporcao2-5-5:nth-child(3n+2) {
        grid-column: 5/9;
    }

    .Proporcao2-5-5:nth-child(3n+3) {
        grid-column: 9/13;
    }
}

/* SMALL */
@media screen and (max-width: 768px) {
    .GraficoGrid {
        margin: 45px 40px;
    }

    .Proporcao5-7:nth-child(odd),
    .Proporcao5-7:nth-child(even),
    .Proporcao4-8:nth-child(odd),
    .Proporcao4-8:nth-child(even),
    .Proporcao3-9:nth-child(odd),
    .Proporcao3-9:nth-child(even) {
        grid-column: 1/13;
    }
}

/* XSMALL */
@media screen and (max-width: 375px) {
    .GraficoGrid {
        margin: 45px 15px;
        gap: 15px;
    }

    .GraficoGridCards {
        gap: 15px;
    }

    .Proporcao4-4-4:nth-child(3n+1),
    .Proporcao4-4-4:nth-child(3n+2),
    .Proporcao4-4-4:nth-child(3n+3),
    .Proporcao2-5-5:nth-child(3n+1),
    .Proporcao2-5-5:nth-child(3n+2),
    .Proporcao2-5-5:nth-child(3n+3) {
        grid-column: 1/13;
    }
}
