.ButtonBar{
    width: fit-content;
    display: flex;
    gap: 60px;
    padding-left: 60px;
    padding-bottom: 50px;
    background-color: #fff;
}

@media screen and (max-width: 1023px) {
    .ButtonBar{
        flex-direction: column;
        align-content:space-around;
        gap: 60px;
        padding-left: 15px;
        padding-top: 0;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .ButtonBar{
        gap: 45px;
        padding-left: 30px;    
    }
}