* {
  margin: 0;
  padding: 0;
}

.Container {
  padding-top: 32px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 48px;
  box-sizing: border-box;
  font-family: 'Inter';
  color: #1F1F1F;
  width: 900px;
  height: fit-content;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  z-index: 9000;
}

.ModalExit{
  color:#fff;
  background-color: black;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.ModalExit:before{
  content: "✖";
  cursor: pointer;
  padding:0.5em;
}

.Close{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.TituloContainer {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 16px;
}

.Titulo {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #1D856C;
}

.TituloPersonalizacaoPrincipal {
  font-size: 32px;
  font-weight: 400;
  line-height: 41.6px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 24px;
}

.DescricaoPersonalizacaoPrincipal {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
  margin-bottom: 24px;
}

.OpcaoPersonalizacaoPrincipal {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
}

.InputPersonalizacaoPrincipal {
  width: 20px;
  height: 20px;
  padding: 0 2px;
  accent-color: #145C56;
}

.Linha {
  margin: 24px 0;
}

.TituloPersonalizacoesSecundarias {
  font-size: 24px;
  font-weight: 400;
  line-height: 31.2px;
  letter-spacing: -0.02em;
  text-align: left;
  padding: 10px 0;
  margin-bottom: 24px;
}

.ContainerPersonalizacoesSecundarias {
  padding: 18px 11px 24px 11px;
  border-radius: 8px;
  border: 1.5px solid #916A20;
}

.OpcaoPersonalizacaoSecundaria {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 12px;
  margin-top: 16px;
  accent-color: #145C56;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
}

.ContainerPersonalizacoesSecundarias input {
  width: 17px;
  height: 19px;
  padding: 1.19px 0px 1.19px 0px;
  position: relative;
}

.ContainerBotao {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.Recomendacao {
  display: flex;
  gap: 5px;
  align-items: center;
  width: fit-content;
  position: absolute;
  z-index: 1000;
  top: 487px;
  padding: 3px 10px;
  border-radius: 5px;
  border: 1px solid #916A20;
  background-color: #FFEFB9;
}

.TextoRecomendacao {
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: left;
  color: #4F3D0C;
}

@media screen and (max-width: 1023px) {
  .Container {
    width: 90%;
  }
}

@media screen and (max-width: 360px) {
  .Container {
    width: 90%;
    padding: 20px;
  }

  .TituloContainer {
    margin-bottom: 10px;
  }

  .Titulo {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.01em;
  }

  .TituloPersonalizacaoPrincipal {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    margin-bottom: 16px;
  }

  .DescricaoPersonalizacaoPrincipal {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.01em;
    margin-bottom: 16px;
  }

  .OpcaoPersonalizacaoPrincipal {
    padding: 6px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.01em;
  }

  .TituloPersonalizacoesSecundarias {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    padding: 6px 0;
    margin-bottom: 24px;
  }

  .Linha {
    margin: 10px 0;
  }

  .OpcaoPersonalizacaoSecundaria {
    padding: 0px 6px;
    margin-top: 12px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.01em;
  }

  .ContainerPersonalizacoesSecundarias {
    padding: 12px 8px 18px 8px;
  }

  .Close{
    margin-bottom: 16px;
  }

  .Recomendacao {
    top: 397px;
    padding: 3px 6px;
    width: 70%;
  }

  .TextoRecomendacao {
    font-size: 10px;
    line-height: 14px;
  }

  .ContainerBotao {
    margin-top: 16px;
  }

  .ContainerPersonalizacoesSecundarias input {
    width: 14px;
    height: 14px;
  }
}
