@import url("https://fonts.googleapis.com/css2?family=Inter:wght@40;500&display=swap");

.IconeLeft{
    padding-left: 8px;
}

.IconeRight{
    padding-right: 8px;
}
.IconeLeftMobile{
    padding-left: 8px;
}

.IconeRightMobile{
    padding-right: 8px;
}

.ButtonLightLarge{
    border: 1px solid rgba(96, 110, 120, 0.50);
    background-color: #fff;
    color: #1F1F1F;
    border-radius: 100px;
    padding: 0px 23px;
    font-size: 15px;
    font-family: 'inter';
    font-weight: 500;
    line-height: 100%;
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    white-space: nowrap;
    display: grid;
    align-items: center;
    text-decoration: none;
    text-align: center;
    white-space: pre-line;
}

.ButtonLightContainer{
    border: 1px solid rgba(96, 110, 120, 0.50);
    background-color: #fff;
    color: #1F1F1F;
    border-radius: 100px;
    padding: 0px 23px;
    font-size: 15px;
    font-family: 'inter';
    font-weight: 500;
    line-height: 100%;
    box-sizing: border-box;
    width: fit-content;
    height: 64px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.ButtonLightContainerLarge{
    border: 1px solid rgba(96, 110, 120, 0.50);
    background-color: #fff;
    color: #1F1F1F;
    border-radius: 100px;
    padding: 0px 23px;
    font-size: 15px;
    font-family: 'inter';
    font-weight: 500;
    line-height: 100%;
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.ButtonLightContainerLarge:hover{
    border: 1px solid rgba(31, 31, 31, 1);
    background-color: #fff;
    cursor: pointer;
}

.ButtonLightContainer:hover{
    border: 1px solid rgba(31, 31, 31, 1);
    background-color: #fff;
    cursor: pointer;
}

.ButtonLightIconContainer{
    border: 1px solid rgba(96, 110, 120, 0.50);
    background: none;
    color: #1F1F1F;
    border-radius: 100px;
    padding: 0px 23px;
    font-size: 15px;
    font-family: 'inter';
    font-weight: 500;
    line-height: 100%;
    box-sizing: border-box;
    width: fit-content;
    height: 64px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.ButtonLightIconContainer:hover{
    border: 1px solid rgba(31, 31, 31, 1);
    background: none;
}

.ButtonLightDisabled {
    border: 1px solid rgba(96, 110, 120, 0.50);
    background: none;
    color: rgba(96, 110, 120, 0.50);
    border-radius: 100px;
    padding: 0px 23px;
    font-size: 15px;
    font-family: 'inter';
    font-weight: 500;
    line-height: 100%;
    box-sizing: border-box;
    width: fit-content;
    height: 64px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.ButtonLightLargeDisabled {
    border: 1px solid rgba(96, 110, 120, 0.50);
    background: none;
    color: rgba(96, 110, 120, 0.50);
    border-radius: 100px;
    padding: 0px 23px;
    font-size: 15px;
    font-family: 'inter';
    font-weight: 500;
    line-height: 100%;
    box-sizing: border-box;
    width: fit-content;
    height: 64px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width : 100%;
}

.ButtonLightDisabled:hover {
    cursor: default;
}

/* SMALL */
@media(max-width: 1023px) {
    .ButtonLightIconContainer{
        font-size: 0px;
    }
    .IconeLeft{
        padding-left: 0px;
    }
    .IconeRight{
        padding-right: 0px;
    }
    .ButtonLightLarge{
        border: 1px solid rgba(96, 110, 120, 0.15);
        color: #1F1F1F;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 100px;
        padding: 0px 25px;
        font-size: 15px;
        font-family: 'inter';
        font-weight: 500;
        line-height: 100%;
        text-align: center;
        box-sizing: border-box;
        width: 100%;
        height: 64px;
        white-space: normal;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    .ButtonLightDisabled {
        border: 1px solid rgba(96, 110, 120, 0.15);
        color: rgba(96, 110, 120, 0.50);
        padding: 0px 25px;
        width: 100%;
        white-space: normal;
        justify-content: center;
    }
}

.ButtonLightContainerMobile{
    border: 1px solid rgba(96, 110, 120, 0.15);
    background-color: #fff;
    color: #1F1F1F;
    border-radius: 100px;
    padding: 0px 25px;
    font-size: 15px;
    font-family: 'inter';
    font-weight: 500;
    line-height: 100%;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.ButtonLightMobile:hover{
    cursor: pointer;
}

.ButtonLightMobile{
    border: 1px solid rgba(96, 110, 120, 0.15);
    color: #1F1F1F;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 100px;
    padding: 0px 25px;
    font-size: 15px;
    font-family: 'inter';
    font-weight: 500;
    line-height: 100%;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    white-space: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

