@import url("https://fonts.googleapis.com/css2?family=Inter:wght@40;500&display=swap");

.ButtonLightContainer{
    border: 1px solid rgba(96, 110, 120, 0.15);
    background-color: #fff;
    color: #1F1F1F;
    border-radius: 100px;
    padding: 0px 30px;
    font-size: 15px;
    font-family: 'inter';
    font-weight: 500;
    line-height: 100%;
    box-sizing: border-box;
    width: fit-content;
    height: 64px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.ButtonLightContainer:hover{
    border: 1px solid rgba(96, 110, 120, 0.50);
    background-color: #fff;
}

