@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

.SobreTrilha{
    padding: 30px 80px 30px 80px;
}

p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #1F1F1F;
}

.divTexto{
    display: inline-flex;
    vertical-align: top;
}

.divSobre{
    width: 40%;
}

.divConteudo{
    padding-left: 100px;
    width: 40%;
}


.Butoes{
    display: inline-block;
}


.tituloTexto{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    width: 70%;
    font-size: 42px;  
    padding-bottom: 30px;
    padding-top: 70px;
}



.tituloModulo{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #1F1F1F;
    padding-bottom: 50px;
}

/* XLARGE */
@media screen and (min-width: 1920px) {
    .SobreTrilha{
        padding: 30px 80px 30px 125px;
        padding-right: 125px;
    }
    
    .tituloTexto{
        font-size: 64px;
    }
}

/* LARGE */
@media screen and (min-width: 1440px) and (max-width: 1919px) {
}

/* REGULAR */
@media screen and (min-width: 1025px)and (max-width: 1439px) {
}

/* MEDIUM */
@media screen and (min-width: 768px)and (max-width: 1024px) {
}

/* SMALL */
@media screen and (min-width: 375px)and (max-width: 767px) {
}

/* XSMALL */
@media screen and (max-width: 374px) {
}
