@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

.SobreTrilha{
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.Texto{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #1F1F1F;
}

.divTexto{
    display: flex;
    gap: 60px;
}

.divSobre{
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.divConteudo{
    display: flex;
    flex-direction: column;
    gap: 45px;
}


.Butoes{
    display: inline-block;
}


.tituloTexto{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    width: 70%;
    font-size: 42px;  
}
.tituloModulo{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #1F1F1F;
    padding-bottom: 50px;
}
.NossotimeContainer{
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.NossoTimeTitulo{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;  
}
.NossoTimeMembrosGrid{
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
    column-gap: 87px;
    row-gap: 54px;
}
.MembroTimeContainer{
    display: flex;
    flex-direction: row;
}

.MembroTimeFotoContainer{
    width: 75px;
    height: 75px;
}
.MembroTimeFoto{
    width: 75px;
    height: 75px;
    border: solid 5px rgba(0, 0, 0, 0.15);
    border-radius: 100%;
}
.MembroTimeTextoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
}
.MembroTimeNome{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;  
}

.MembroTimeTitulo{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;  
}
.buttonWPDesktop{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.buttonWPMobile{
    display: none;
}

.realizacaoContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 100px;
}
.realizacaoTitulo{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;  
    color: #606E78;
}
/* XLARGE */
@media screen and (min-width: 1920px) {
    .SobreTrilha{
        padding: 30px 80px 30px 125px;
        padding-right: 125px;
    }
    
    .tituloTexto{
        font-size: 64px;
    }
}


/* SMALL*/
@media screen and (max-width: 1023px) {
    .tituloTexto{
        width: 100%;
        font-size: 32px;  
        padding-bottom: 0;
    }
    .divTexto{
        display: flex;
        flex-direction: column;
        width: 100%;
        vertical-align: baseline;
    }
    .divSobre{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }
    .divConteudo{
        gap: 45px;
        padding-left: 0px;
        width: 100%;
    }
    
    .NossoTimeMembrosGrid{
        grid-template-columns: auto;
        column-gap: 0;
    }
    .SobreTrilha{
        padding: 30px 30px;
    }
    .buttonWPDesktop{
        display: none;
    }
    .buttonWPMobile{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    
}
