@import url("https://fonts.googleapis.com/css2?family=Inter:wght@40;500&display=swap");

.PanelSelectorMain{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  height: 85px;
  padding: 2px;
  margin-bottom: 54px;
  overflow-x: hidden;
}

.PanelSelectorMain p{
  font-size: 16px;
  font-family: "Inter";
  font-weight: 700;
  color: #141919;

  line-height: 24px;
  margin: 16px 9%;
}

.PanelSelectorContainer {
  display: flex;
  gap: 24px;
  
  min-width: 100%;
  width: 100%;
  height: 63px;
  padding: 0 9%;
  
  font-family: "Inter";
  font-size: small;
  overflow-x: scroll;
  scrollbar-width: none;
}

.PanelSelectorContainerIP {
  display: flex;
  gap: 24px;
  
  min-width: 100%;
  width: 100%;
  height: 63px;
  padding: 0;

  font-family: "Inter";
  font-size: small;
  overflow-x: scroll;
  scrollbar-width: none;
}

.PanelSelectorTitles {
  display: flex;
  gap: 24px;
  
  min-width: 100%;
  width: 100%;
  height: 63px;
  padding: 0 6%;
  border-bottom: 1px solid #D1D1D2;


  font-family: "Inter";
  font-size: small;
  overflow-x: scroll;
  scrollbar-width: none;
}

.PanelSelectorContainer::-webkit-scrollbar {
  background: none;
  height: 5px;
}

.PanelSelectorContainerIP::-webkit-scrollbar {
  background: none;
  height: 5px;
}

.PanelSelectorTitles::-webkit-scrollbar {
  background: none;
  height: 5px;
}

.PanelSelectorButtonSelected {
  display: flex;
  align-items: center;

  border-bottom: 3px solid #141919;
  outline: none;
  background: none;
  
  width: fit-content;
  padding: 2px;

  font-family: "Inter";
  font-size: 14px;
  font-weight: 700;
  color: #141919;
  white-space: nowrap;
  
  transition: 0.3s;
  cursor: pointer;
}

.PanelSelectorButton {
  display: flex;
  align-items: center;

  width: fit-content;

  outline: none;
  background: none;

  font-family: "Inter";
  font-size: 14px;
  font-weight: 700;
  color: #ABABAB;
  white-space: nowrap;
  
  transition: 0.3s;
  cursor: pointer;
}

.PanelSelectorButton:hover{
  color: #2EB280;
}

.PanelSelectorTitleButtonSelected {
  display: flex;
  align-items: flex-end;

  outline: none;
  background: none;
  
  width: fit-content;
  padding: 2px;

  font-family: "Inter";
  font-size: 14px;
  font-weight: 700;
  color: #141919;
  white-space: nowrap;
  
  transition: 0.3s;
  cursor: pointer;
}

.PanelSelectorTitleButton {
  display: flex;
  align-items: flex-end;

  width: fit-content;

  outline: none;
  background: none;

  font-family: "Inter";
  font-size: 14px;
  font-weight: 700;
  color: #ABABAB;
  white-space: nowrap;
  
  transition: 0.3s;
  cursor: pointer;
}

.PanelSelectorTitleButton:hover{
  color: #2EB280;
}

.PanelSelectorComponents {
  padding: 0 9%;
}

.PanelSelectorComponentsIP {
  padding: 0 0%;
} 

@media(max-width: 639px){
  .PanelSelectorMain{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 110px;
    padding: 2px;
  }

  .PanelSelectorContainer{
    display: flex;
    gap: 18px;
  }
}

@media screen and (max-width: 1365px) and (min-width: 640px){
  .PanelSelectorButtonLineBreak {
    white-space: normal;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    width: min-content;
    min-width: 11%;
  }

  .PanelSelectorTitleButtonLineBreak {
    width: min-content;
    width: 21%;
    align-items: flex-end;
    white-space: normal;
    cursor: pointer;
  }

  .PanelSelectorMainLineBreak {
    height: fit-content;
  }

  .PanelSelectorContainerIPLineBreak {
    height: max-content;
    min-height: 50px;
  }
}
