.SpinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0;
  width: 100%;
  height: fit-content;
}

.ThemeGrey {
  color: #A6B5BE;
}

.ThemeColorSM {
  color: #5367C9;
}

.ThemeColorIP {
  color: #2EB280;
}
