.CardInfo{
    border: solid 1px #9494946b;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    padding: 25px;
    border-radius: 5px;
}
.CardInfoTitulo{
    color: #9ba4a5;
    margin-bottom: 8px;
}
.CardInfoTooltip {
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
.CardInfoSymbol{
    color: black;
    margin-left: 5px;
}
.CardInfoSymbol:hover {
    cursor: default;
}
.CardInfoIndicadorContainer{
    display: flex;
    gap: 10px;
    height: fit-content;
    align-items: flex-end;
}
.CardInfoIndicador{
    font-size: 32px;
    font-weight: bold;
}
.CardInfoIndicadorDescricao{
    color: #9ba4a5;
    font-size: 14px;
}
.CardInfoIndiceContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}
.CardInfoSymbolUp{
    font-size: 32px;
    transform: rotate(-90deg);
    color: #7ab37d;
}
.CardInfoSymbolDown{
    font-size: 32px;
    transform: rotate(90deg);
    color: #cf6868;
}

.CardInfoIndicePositivo{
    margin-left: 8px;
    margin-right: 8px;
    color: #7ab37d;
}
.CardInfoIndiceNegativo{
    margin-left: 8px;
    margin-right: 8px;
    color: #cf6868;
}

.CardInfoIndiceDescricao{
    color: #9ba4a5;
}
.CardInfoLink{
    text-decoration: none;
    color: #75b2ed;
}
.CardInfoFonte{
    font-size: 14px;
    color: #9ba4a5;
    margin-top: 5px;
}
