.CardInfo{
    border: solid 1px #9494946b;
    color: #9ba4a5;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    padding: 25px;
    border-radius: 5px;
}
.TipoB{
    flex-direction: row;
    gap: 40px;
}
.TipoB .CardInfoDireita{
    width: 60%;
}
.TipoB .CardInfoEsquerda{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}
.TipoC{
    gap: 20px;
}
.CardInfoTitulo{
    margin-bottom: 8px;
}
.CardInfoTooltip {
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
.CardInfoSymbol{
    color: black;
    margin-left: 5px;
}
.CardInfoSymbol:hover {
    cursor: default;
}
.CardInfoIndicadorContainer{
    display: flex;
    gap: 10px;
    height: fit-content;
    align-items: flex-end;
}

.TipoC .CardInfoIndicadorContainer{
    flex-direction: column;
    align-items: flex-start;
}
.CardInfoIndicador{
    color: black;
    font-size: 32px;
    font-weight: bold;
}
.CardInfoIndicadorDescricao, .CardInfoDescricao{
    font-size: 14px;
}
.CardInfoIndiceContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}
.TextoVerde{
    color: #7ab37d;
}
.TextoVermelho{
    color: #cf6868;
}
.CardInfoSymbolUp{
    font-size: 32px;
    transform: rotate(-90deg);
}
.CardInfoSymbolDown{
    font-size: 32px;
    transform: rotate(90deg);
}
.CardInfoIndice{
    margin-left: 8px;
    margin-right: 8px;
}
.CardInfoLink{
    text-decoration: none;
    color: #75b2ed;
}
.CardInfoFonte{
    font-size: 14px;
    margin-top: 5px;
}
.CardInfoStatusContainer{
    display: flex;
    justify-content: space-between;
}
.CardInfoStatus{
    display: flex;
    align-items: center;
    gap: 4px;
}
.CardInfoStatusSymbol{
    font-size: 18px;
}

@media screen and (max-width: 360px) {
    .TipoB {
        flex-direction: column;
        gap: 15px;
    }

    .TipoB .CardInfoDireita,
    .TipoB .CardInfoEsquerda {
        width: 100%;
    }
}
