@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
.container_parceiros {
    background: #1D856C;
    border-radius: 0px 45px 0px 0px;
    flex-direction: column;
    width: 98%;
    padding: 82px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
  }
  .textoParcerias{
    color: #FFF;
    font-size: 32px;
    width: 844px;
    text-align: center;
  }
  .parceirosLabel {
    color: #1F1F1F;
    font-size: 16px;
    margin: 96px 0 0 0;
  }
  .gridContainer {
    column-gap: 30px;
    justify-content:center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    margin: 0;
  }
  
  .imageContainer {
    margin-bottom: 30px;
    margin-top: 30px;
    max-width: 110px;
  }
  @media screen and (min-width: 1210px) and (max-width: 1360px) {
    .gridContainer {
      grid-template-columns: auto auto auto auto auto auto auto auto;
    }
  }
  @media screen and (min-width: 1070px) and (max-width: 1209px) {
    .gridContainer {
      grid-template-columns: auto auto auto auto auto auto auto ;
    }
  }
  @media screen and (min-width: 1000px) and (max-width: 1069px) {
    .gridContainer {
      grid-template-columns: auto auto auto auto auto auto;
    }
  }
  @media screen and (min-width: 880px) and (max-width: 999px) {
    .gridContainer {
      grid-template-columns: auto auto auto auto auto;
    }
  }
  
  @media screen and (min-width: 700px) and (max-width: 879px) {
    .gridContainer {
      grid-template-columns: auto auto auto auto;
    }
  }
  @media screen and (min-width: 650px) and (max-width: 699px) {
    .gridContainer {
      grid-template-columns: auto auto auto auto;
    }
  }
  @media screen and (min-width: 500px) and (max-width: 649px) {
    .gridContainer {
      grid-template-columns: auto auto auto;
    }
  }
  @media screen and (max-width: 499px) {
    .gridContainer {
      grid-template-columns: auto auto;
    }
  }
  
@media screen and (max-width: 1023px) {
  .container_parceiros {
    flex-direction: column;
    padding: 40px;
    width: 100%;
    border-radius: 0;
  }
  .textoParcerias{
    font-size: 24px;
    width: 100%;
  }
  .logo_parceiros{
      display: flex;
      justify-content: center;
      width: 100%;
  }
}