.conteinerHeader{
    background-color: #FFF;
    border-radius: 10px;
    padding: 148px 72px 15px 64px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}

.themeColorAGP{
    background-color: #6A2914;
    color: #ffffff;
}

.tituloHeader{
    line-height: 110%;
    letter-spacing: -0.04em;
    font-size: 112px;
    padding-right: 10%;
}

.tituloDestaqueHeader{
    color: #2EB280;

}

.textoHeader{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-right: 0;
    text-align: left;
}

.conteinerChamadasHeader{
    font-size: 16px;
    line-height: 150%;
    padding: 0;
    margin-bottom: 130px;
}
.buttonHeader{
    background-color: #2EB280;
    border-radius: 80px;
    align-items: center;
    padding: 16px 24px 17px;
    border: none;
    color: #FFF;
    width: fit-content;
}
.buttonHeader:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ef8264;
    color: #FFF;
}

.buttonHeaderColorAGP{
    background-color: #F4CCAB;
    color: #1F1F1F;
}
.consultoriaHeader{
    color: #2EB280;
    margin-left: 20px;
}
.consultoriaHeader:hover{
    text-decoration: underline;
    color: #ef8264;
}

.consultoriaHeaderColorAGP{
    color: #F4CCAB
}

/* SMALL */
@media screen and (max-width: 780px) {
    .conteinerHeader{
        justify-content: center;
        padding: 72px 54px 0px 54px;
    }
    .tituloHeader{
        font-size: 32px;
        line-height: 110%;
        padding: 0;
        text-align: left;
    }
    .textoHeader{
        text-align: left;
        font-size: 16px;
        line-height: 110%;
        padding: 0;
        margin-top: 60px;
        margin-bottom: 60px;
        width: 300px;
    }
    .conteinerChamadasHeader{
        font-size: 14px;
    }
    .buttonHeader{
        margin: 0 0 25px 0;
        display: block;
        text-align: center;
    }
}

/* MEDIUM */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .tituloHeader{
        font-size: 72px;
        padding-right: 10%;
    }
    .textoHeader{
        font-size: 16px;
    }
    .conteinerChamadasHeader{
        font-size: 10px;
    }
}

/* XLARGE */
@media screen and (min-width: 1920px) {
    .conteinerHeader{
        padding: 200px 72px 15px 90px;
    }
    .tituloHeader{
        font-size: 128px;
        padding-right: 0%;
    }
    .textoHeader{
        font-size: 20px;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .conteinerChamadasHeader{
        font-size: 15px;
    }
    .buttonHeader{
        padding: 20px 28px 20px 28px;
    }
}
